@*
    Payton Hatch
    Group 4-6
*@
@{
    ViewData["Title"] = "Movie Table";
}
@model IEnumerable<Mission06_Hatch.Models.Movie>

<h2>Movie Collection</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Director</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.Title</td>
                <td>@movie.Director</td>
                <td>@movie.Year</td>
                <td>@movie.Genre</td>
                <td>@movie.Rating</td>
                <td>@(movie.Edited ? "Yes" : "No")</td>
                <td>@movie.LentTo</td>
                <td>@movie.Notes</td>
            </tr>
        }
    </tbody>
</table>
